#button {
    -fx-background-color: 
        #000A5D,
        linear-gradient(#0017D6 0%, #0017D6 20%, #0017D6 100%),
        linear-gradient(#6171F7, #0017D6),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #02FBFF);
    -fx-padding: 10 20 10 20;
    -fx-font-family: "Starcraft";
}

#button:hover {
    -fx-background-color: 
        #000A5D,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#E6E6DF, #1817D6),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #02FBFF);
    -fx-padding: 10 20 10 20;
}